<section class="session-new">
  <header class="page-header">
    <h1>Log In</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for(:session, url: login_path) do |f| %>

          <% if @error %>
            <div class="alert alert-danger">
              <strong>The following errors prevented you from logging in:</strong>
              <ul>
                <li><%= @error %></li>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <%= f.submit "Log In", class: "btn btn-primary" %>

          <p>New user? <%= link_to "Register here.", [:new_user] %></p>
      <% end %>
    </div>
  </div>
</section>
