
<tr>
    <td>
  <% if logged_in? && current_user.id == review.user_id %>
      <%= link_to "Delete", [review.product, review],
                  method: :delete,
                  data: { confirm: "Are you sure you want delete this review?" } %>
  <% end %>
      </td>
  <td><%= "#{review.user.first_name} #{review.user.last_name}" %></td>
  <td><%= review.created_at.strftime('%m/%d%Y') %><br>
      <%= review.created_at.strftime("at %I:%M%p") %></td>
  <td><%= review.rating %>/5</td>
  <td><%= review.text %></td>
</tr>
